In [ ]:
## Connect to DB server on AWS
import mysql.connector 
import config

cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.passwd
)
cursor = cnx.cursor()
headers = {"Accept-Language": "en-US, en;q=0.5"}

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import itertools

In [ ]:
# #Create new DB
# cursor.execute("CREATE DATABASE Movie_Project")

In [ ]:
cnx.database = 'Movie_Project'

In [ ]:
import requests

url = "https://www.imdb.com/list/ls022596827/"
page = requests.get(url)
page.content

In [ ]:
from bs4 import BeautifulSoup as bs
soup = bs(page.content, 'html.parser')
content = soup.find_all(class_='lister-item-content')
content[20].find_all('a')[0].string

# Get movie name

In [ ]:
name_list = []
for i in range(len(content)):
    try:
        get_text = content[i].find_all('a')[0].string
    except:
        get_text = 'no name found'
    name_list.append(get_text)
name_list

In [ ]:
len(name_list)

# Get movie genre

In [ ]:
#get genre
genre_list = []
for i in range(len(content)):
    try:
        genre = content[i].find_all(class_='genre')[0].get_text().strip('\n').strip(' ')
        genre_list.append(genre)
    except:
        genre = "No genre found"
genre_list

# Get movie ratings

In [ ]:
#get ratings
rating_list = []
for i in range(len(content)):
    try:
        rating = content[i].find_all(class_='ipl-rating-star__rating')[0].string 
    except:
        rating = 'no rating found'
    rating_list.append(rating)
len(rating_list)

# Get movie year

In [ ]:
#get year
year_list = []
for i in range(len(content)):
    try:
        year = content[8].find_all(class_='lister-item-year text-muted unbold')[0].string.strip('()')
        year1 = year.strip('I').strip(')').strip(' ').strip('(')
    except:
        year1 = 'no year'
    year_list.append(year1)
year_list

In [ ]:
year = content[8].find_all(class_='lister-item-year text-muted unbold')[0].string.strip('()')
year.strip('I').strip(')').strip(' ').strip('()')

In [ ]:
content[0].find_all(class_='lister-item-year text-muted unbold')[0].string.strip('()')

# Get movie rated

In [ ]:
#get r rated...
type_list = []
for i in content:
    try:
        type1 = i.find_all(class_='certificate')[0].string
    except:
        type1 = 'no rating'
    type_list.append(type1)
type_list

In [ ]:
soup.find_all('strong')[0].string

# Create DataFrame

In [ ]:
d = {'Movie':name_list, 'Genre': genre_list, 'Release Year': year_list, "IMDB Rating": rating_list, 'Rated': type_list}
d

In [ ]:
df2019 = pd.DataFrame(d)
df2019

In [ ]:
df2019

# Create tables

In [ ]:
# #create a table for Movie_info
# create_table_movie_info_2019 = """
#     CREATE TABLE Movie_info_2019 (
#     Movie varchar(255) PRIMARY KEY,
#     Genre varchar(255),
#     Release_Year INTEGER(255),
#     IMDB_Rating FLOAT,
#     Rated varchar(255)
#     );
# """

# #create a table for Movie_info
# create_table_movie_info_2018 = """
#     CREATE TABLE Movie_info_2018 (
#     Movie varchar(255) PRIMARY KEY,
#     Genre varchar(255),
#     Release_Year INTEGER(255),
#     IMDB_Rating FLOAT,
#     Rated varchar(255)
#     );
# """

# #create a table for Movie_info
# create_table_movie_info_2017 = """
#     CREATE TABLE Movie_info_2017 (
#     Movie varchar(255) PRIMARY KEY,
#     Genre varchar(255),
#     Release_Year INTEGER(255),
#     IMDB_Rating FLOAT,
#     Rated varchar(255)
#     );
# """

# #create a table for Movie_info
# create_table_movie_info_2016 = """
#     CREATE TABLE Movie_info_2016 (
#     Movie varchar(255) PRIMARY KEY,
#     Genre varchar(255),
#     Release_Year INTEGER(255),
#     IMDB_Rating FLOAT,
#     Rated varchar(255)
#     );
# """

# #create a table for Movie_info
# create_table_movie_info_2015 = """
#     CREATE TABLE Movie_info_2015 (
#     Movie varchar(255) PRIMARY KEY,
#     Genre varchar(255),
#     Release_Year INTEGER(255),
#     IMDB_Rating FLOAT,
#     Rated varchar(255)
#     );
# """

# #create a table for Movie_info
# create_table_movie_info_2014 = """
#     CREATE TABLE Movie_info_2014 (
#     Movie varchar(255) PRIMARY KEY,
#     Genre varchar(255),
#     Release_Year INTEGER(255),
#     IMDB_Rating FLOAT,
#     Rated varchar(255)
#     );
# """

# #create a table for Movie_info
# create_table_movie_info_2013 = """
#     CREATE TABLE Movie_info_2013 (
#     Movie varchar(255) PRIMARY KEY,
#     Genre varchar(255),
#     Release_Year INTEGER(255),
#     IMDB_Rating FLOAT,
#     Rated varchar(255)
#     );
# """

# cursor.execute(create_table_movie_info_2019)
# # # cursor.execute(create_table_movie_info_2018)
# # # # cursor.execute(create_table_movie_info_2017)
# # cursor.execute(create_table_movie_info_2016)
# # # # cursor.execute(create_table_movie_info_2015)
# # # # cursor.execute(create_table_movie_info_2014)
# # # # cursor.execute(create_table_movie_info_2013)

In [ ]:
cnx.database = 'Movie_Project'

# 2019 movies
steps:
1. create DataFrame 
2. merge and parse into a list of tuple
3. insert data to sql function

In [ ]:
def merge(list1, list2, list3, list4, list5):  
    merged_list = [(list1[i], list2[i], list3[i], list4[i], list5[i]) for i in range(0, len(list1))]
    return merged_list 

parsed_data = merge(name_list, genre_list, year_list, rating_list, type_list)
parsed_data

In [ ]:
def insert_data(cnx, cursor, parsed_data):
    insert_Movie_Project = """INSERT INTO Movie_info_2019 (Movie, Genre, Release_Year, IMDB_Rating, Rated) VALUES (%s, %s, %s, %s, %s);"""
    cursor.executemany(insert_Movie_Project, parsed_data)
    cnx.commit()
    return
insert_data(cnx, cursor, parsed_data)

# 2018 movies
steps:
1. create DataFrame 
2. merge and parse into a list of tuple
3. insert data to sql

In [ ]:
def get_DF(url):
    page = requests.get(url)
    page.content

    from bs4 import BeautifulSoup as bs
    soup = bs(page.content, 'html.parser')
    content = soup.find_all(class_='lister-item-content')
    content[20].find_all('a')[0].string

    name_list = []
    for i in range(len(content)):
        try:
            get_text = content[i].find_all('a')[0].string
        except:
            get_text = 'no name found'
        name_list.append(get_text)
    name_list


    #get genre
    genre_list = []
    for i in range(len(content)):
        try:
            genre = content[i].find_all(class_='genre')[0].get_text().strip('\n').strip(' ')
            genre_list.append(genre)
        except:
            genre = "No genre found"
    len(genre_list)


    #get ratings
    rating_list = []
    for i in range(len(content)):
        try:
            rating = content[i].find_all(class_='ipl-rating-star__rating')[0].string 
        except:
            rating = 'no rating found'
        rating_list.append(rating)
    len(rating_list)

    
    #get year
    year_list = []
    for i in range(len(content)):
        try:
            year = content[i].find_all(class_='lister-item-year text-muted unbold')[0].string.strip('()')
        except:
            year = 'no year'
        year_list.append(year)
    len(year_list)


    #get r rated...
    type_list = []
    for i in content:
        try:
            type1 = i.find_all(class_='certificate')[0].string
        except:
            type1 = 'no rating'
        type_list.append(type1)
    type_list

    d = {'Movie':name_list, 'Genre': genre_list, 'Release Year': year_list, "IMDB Rating": rating_list, 'Rated': type_list}
    d

    df = pd.DataFrame(d)

    return df

df2018 = get_DF("https://www.imdb.com/list/ls020941218/")
df2018

In [ ]:
def merge(list1, list2, list3, list4, list5):  
    merged_list_2018 = [(list1[i], list2[i], list3[i], list4[i], list5[i]) for i in range(0, len(list1))]
    return merged_list_2018

parsed_data_2018 = merge(df2018['Movie'], df2018['Genre'], df2018['Release Year'], df2018['IMDB Rating'], df2018['Rated'])
parsed_data_2018

In [ ]:
#insert 2018 movie info into SQL
def insert_data_2018(cnx, cursor, parsed_data):
    insert_Movie_Project = """INSERT INTO Movie_info_2018 (Movie, Genre, Release_Year, IMDB_Rating, Rated) VALUES (%s, %s, %s, %s, %s);"""
    cursor.executemany(insert_Movie_Project, parsed_data)
    cnx.commit()
    return
insert_data_2018(cnx, cursor, parsed_data_2018)

# 2017 movies
steps:
1. create DataFrame 
2. merge and parse into a list of tuple
3. insert data to sql

In [ ]:
df2017 = get_DF("https://www.imdb.com/list/ls058982125/")
df2017

In [ ]:
df2017['Movie']

In [ ]:
parsed_data_2017 = merge(df2017['Movie'], df2017['Genre'], df2017['Release Year'], df2017['IMDB Rating'], df2017['Rated'])
parsed_data_2017

In [ ]:
#insert 2017 movie info into SQL
def insert_data_2017(cnx, cursor, parsed_data):
    insert_Movie_Project = """INSERT INTO Movie_info_2017 (Movie, Genre, Release_Year, IMDB_Rating, Rated) VALUES (%s, %s, %s, %s, %s);"""
    cursor.executemany(insert_Movie_Project, parsed_data)
    cnx.commit()
    return
insert_data_2017(cnx, cursor, parsed_data_2017)

# 2016 movies
steps:
1. create DataFrame 
2. merge and parse into a list of tuple
3. insert data to sql

In [ ]:
df2016 = get_DF("https://www.imdb.com/list/ls058938704/")
df2016

parsed_data_2016 = merge(df2016['Movie'], df2016['Genre'], df2016['Release Year'], df2016['IMDB Rating'], df2016['Rated'])
parsed_data_2016

#insert 2016 movie info into SQL
def insert_data_2016(cnx, cursor, parsed_data):
    insert_Movie_Project = """INSERT INTO Movie_info_2016 (Movie, Genre, Release_Year, IMDB_Rating, Rated) VALUES (%s, %s, %s, %s, %s);"""
    cursor.executemany(insert_Movie_Project, parsed_data)
    cnx.commit()
    return
insert_data_2016(cnx, cursor, parsed_data_2016)

# 2015 movies
steps:
1. create DataFrame 
2. merge and parse into a list of tuple
3. insert data to sql

In [ ]:
df2015 = get_DF("https://www.imdb.com/list/ls073809351/")
df2015

parsed_data_2015 = merge(df2015['Movie'], df2015['Genre'], df2015['Release Year'], df2015['IMDB Rating'], df2015['Rated'])
parsed_data_2015

#insert 2015 movie info into SQL
def insert_data_2015(cnx, cursor, parsed_data):
    insert_Movie_Project = """INSERT INTO Movie_info_2015 (Movie, Genre, Release_Year, IMDB_Rating, Rated) VALUES (%s, %s, %s, %s, %s);"""
    cursor.executemany(insert_Movie_Project, parsed_data)
    cnx.commit()
    return
insert_data_2015(cnx, cursor, parsed_data_2015)

# 2014 movies

In [ ]:
# steps:
# 1. create DataFrame 
# 2. merge and parse into a list of tuple
# 3. insert data to sql function 

df2014 = get_DF("https://www.imdb.com/list/ls059824992/")
df2014

parsed_data_2014 = merge(df2014['Movie'], df2014['Genre'], df2014['Release Year'], df2014['IMDB Rating'], df2014['Rated'])
parsed_data_2014

#insert 2014 movie info into SQL
def insert_data_2014(cnx, cursor, parsed_data):
    insert_Movie_Project = """INSERT INTO Movie_info_2014 (Movie, Genre, Release_Year, IMDB_Rating, Rated) VALUES (%s, %s, %s, %s, %s);"""
    cursor.executemany(insert_Movie_Project, parsed_data)
    cnx.commit()
    return
insert_data_2014(cnx, cursor, parsed_data_2014)

In [ ]:
df2014

In [ ]:
#j#ust notes:
# g_data = soup.find_all('div',{'class':'info'})
# g_data

In [ ]:
##example
# urls = ('div class="mb-movies"',id = 'featured-browse-ad-getter')
# url.find_all('div')